# Ex1 - Filtrar y ordenar datos


### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Paso 2. Importa el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asígnalos a una variable llamada chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Paso 3. Nombre del producto de valor máximo

In [3]:
chipo2=chipo.copy()

chipo2["item_price"]=chipo2["item_price"].str.replace("$","",regex=False)
chipo2["item_price"]=chipo2["item_price"].astype(float)

In [4]:
chipo2["item_price"].max()

44.25

### Paso 4. ¿Cuántos productos cuestan más de 10 dólares?

In [5]:
mascara_10=chipo2["item_price"]>10
len(chipo2[mascara_10])

1130

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [12]:
chipo2[mascara_10].nunique()

order_id              863
quantity                8
item_name              31
choice_description    492
item_price             35
dtype: int64

### Paso 5. ¿Cuál es el precio de cada artículo? Obtenga sólo item_name y unit_price

In [22]:
chipo2[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Paso 6. Ordenar por el nombre del artículo

In [25]:
chipo2.sort_values(by="item_name", ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Paso 7. ¿Cuál fue la cantidad del artículo más caro pedido? 2 formas

## Paso 7.1: Cantidad de ARTICULOS del pedido MAS CARO

### Paso 8. ¿Cuántas veces se pidió una Veggie Salad Bowl?

### Paso 9. ¿Cuántas veces pidió alguien más de un Canned Soda?

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()