### Introducción:

El siguiente ejercicio utiliza datos de UC Irvine Machine Learning Repository

### Paso 1. Importe las bibliotecas necesarias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importe el primer conjunto de datos cars1 y cars2.

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

 ### Paso 3. Asigne cada uno a una variable llamada cars1 y cars2

### Paso 4. Ups, parece que nuestro primer conjunto de datos tiene algunas columnas en blanco sin nombre, arregle cars1

In [20]:
cars1_data=cars1.copy()
cars1_data.drop(cars1_data.columns[9:], axis=1, inplace=True)
cars2_data=cars2.copy()
cars2_data.drop(cars2_data.columns[9:], axis=1, inplace=True)
cars1_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Paso 5. ¿Cuál es el número de observaciones en cada conjunto de datos?

In [145]:
print("Cars1:",len(cars1))
print("Cars2:",len(cars2))

Cars1: 198
Cars2: 200

### Paso 6. Unir cars1 y cars2 en un solo DataFrame llamado cars

In [34]:
cars=pd.concat([cars1_data,cars2_data], axis=0).reset_index(drop=True)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Paso 7. Ups, falta una columna llamada propietarios. Cree una serie de números aleatorios de 15,000 a 73,000.

In [139]:
import random
list1=[]
for i in range(len(cars)):
    list1.append(random.randrange(15,74))
propietarios=pd.Series(list1,
          index=list(range(len(cars))), name="Propietarios")
propietarios

0      42
1      42
2      42
3      50
4      36
       ..
393    48
394    72
395    29
396    64
397    37
Name: Propietarios, Length: 398, dtype: int64

### Step 8. Añade la columna de propietarios a cars

In [140]:
pd.merge(cars, propietarios, left_index=True, right_index=True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Propietarios
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,42
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,42
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,42
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,50
4,17.0,8,302,140,3449,10.5,70,1,ford torino,36
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,48
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,72
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,29
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,64
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,37