   #                                                  Titanic Exercise 

   ![titanic](https://userscontent2.emaze.com/images/a5f68f37-6349-4065-a1fc-921cbe7401b2/958230111417e36d6b3c67ffd7bc3494.jpeg)
   #### Practise Pandas

En primer lugar, importa las bibliotecas necesarias.

In [18]:
import numpy as np
import pandas as pd
import random

### 1. Lee el nombre del archivo y llama a la variable `titanic`.
    - Explora el conjunto de datos `titanic` utilizando `info`, `dtypes` y `describe`.

### 2. Crea un dataframe separado con las columnas `['name', 'sex', 'age']`, llámalo people

Se puede hacer de dos maneras, ¡hazlo de las dos formas!

### 3. Imprime la salida de `people` mostrando las tres primeras filas y las cuatro últimas, utilizando `append`, `tail` y `head`

### 4. Haz slicing la fila del 3 al 9, llámala `s_titanic`.

### 5. Haz slicing la fila del 40 al 63 en orden inverso, llámalo `s_titanic_rev`.

### 6. Haz slicing de las columnas desde la columna inicial hasta `'parch'`, llámalo `left_columns`.

### 7. Corta las columnas desde `'name'` hasta `'age'`, llámalo `middle_columns`.

### 8. Haz slicing de las columnas desde `'ticket'` hasta el final, llámalo `right_columns`.

### 9. ¿Cuál es el nombre de la persona de más edad que murió en el Titanic? ¿Viajaba solo o tenía algún familiar que viajara con él?

Para dar una respuesta a la segunda pregunta deberías averiguar qué columnas te dan esa información. Normalmente, parte de tu trabajo como científico de datos será conocer el conjunto de datos con el que estás trabajando. En este caso, las columnas que dan esa información son las siguientes: 
- 'sibsp' Número de hermanos/cónyuges a bordo
- 'parch' Número de padres/hijos a bordo

### 10. Crea la lista de 5 números aleatorios de filas desde 0 hasta el largo del dataframe, llámalo `rows`.

Ej. `rows = [3,7,99,52,48]` usando la librería `random`

Esta lista de números es aleatoria, podría ser diferente.

### 11. Crea la lista de etiquetas de tres columnas, llámala `cols`.

### 12. Utiliza ambas listas `rows` y `cols` para crear un nuevo dataframe


### 13. Crea un array booleano con la condición de ser mujer u hombre, utilizando la columna `sex`, donde **femenino** es True. Llámalo `array_fe`.

### 14. Cambia el nombre de la columna `"sex"` por `"gender"` y filtra el dataframe `titanic` con el array booleano, llámalo `woman_titanic`.

### 15. ¿Cuántas mujeres eran menores de 18 años? Llama a la variable `menor_wo`

### 16. ¿Cuántas mujeres menores de 18 años murieron realmente? Llama a la variable `dead_wo`

### 17. Eliminar las filas con *Nan* en `titanic` con `how='any'` e imprimir el shape

### 18. Eliminar las filas con *Nan* en `titanic` con `how='all'` e imprimir el shape

### 19. Elimina las columnas de `titanic` con más de 1000 valores perdidos e imprime las columnas restantes

### 20. Calcular la proporción de valores perdidos en la columna `boat`.

### 21.  Agrupa `titanic` por `'pclass` y agrega por las columnas `age` & `fare`, por `max` y `median` y asignalo a `by_class`

### 22. Imprime la edad máxima en cada clase de `by_class`

### 23. Imprime la mediana de la tarifa de cada clase de `by_class`.

### 24. Usando [`.pivot_table()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) para contar cuántas mujeres u hombres sobrevivieron por clase, llámalo `counted`.

### 25. Añade una nueva columna con la suma de hombres y mujeres supervivientes, llámala `counted['total']`.

### 26. Ordena el `counted` por la columna `total`. ¿En qué clase han sobrevivido más personas?

### 27. Muestra sólo las filas con una máscara con las siguientes condiciones: 
    - Son mujer
    - De tercera clase
    - Menores de 30 años
    - Han sobrevivido
    
    ¿Cuántas filas cumplen la condición?

### 28. Ahora, muestra sólo las filas que utilizan `.loc` con las siguientes condiciones: 
    - Son hombre
    - De primera clase
    - Mayores de 50 años
    - Han muerto
    
    ¿Cuántas filas cumplen la condición?

### 29. Imprime los valores únicos en la columna `'nombre'`

### 30. Encuentra si hubo algún `nombre` repetido en el Titanic.

Pista: Había dos personas con el mismo nombre, ¿quiénes?

### 31. Usando `matplotlib` encuentra la visualización apropiada para mostrar la distribución de la columna `'edad''

In [125]:
import matplotlib.pyplot as plt

### 32. Usando `matplotlib` encuentra el gráfico apropiado para visualizar la columna `'gender'`

32b. ¿Qué pasa si también pintas la columna `'gender'` usando la función [`countplot`](https://seaborn.pydata.org/generated/seaborn.countplot.html) de la librería [`seaborn`](https://seaborn.pydata.org/)?

### 33. Utilizando la función [`catplot`](https://seaborn.pydata.org/generated/seaborn.catplot.html) de la biblioteca `seaborn`, averigua si la hipótesis _"Las mujeres tienen más probabilidades de sobrevivir a los naufragios"_ es cierta o no.

![catplot](./img/catplotgen.png)

### 34. Usando [`kdeplot`]("https://seaborn.pydata.org/generated/seaborn.kdeplot.html") de `seaborn` represente los que no sobrevivieron distribuidos por edad.

Sugerencia: Primero debes "filtrar" el conjunto de datos `titanic` donde la columna "survived" es 0, indexando la columna `"age"` solamente.

Argumentos que debes pasar a la función: 

    - color = "rojo"
    - label = "No sobrevivido"
    - shade = True
    
Deberías obtener algo como esto:

![kdeplot](./img/kdeplotsur.png)